@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Happy */
  --primary-color: #a748f5;
  --secondary-color: #b669fd;
  --tertiary-color: #f277ec;
  --border-color: #ffffff;
  --toggle-bg: #b669fd;
  --toggle-active: #f43f5e;
  --toggle-play: #ff3ace;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  );

  /* Sad */
  /* --primary-color: #2b6cb0;
  --secondary-color: #4a90e2;
  --tertiary-color: #718096;
  --border-color: #e2e8f0;
  --toggle-bg: #4a90e2;
  --toggle-active: #2c5282;
  --toggle-play: #5a6a7f;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  ); */

  /* Fear */
  /* --primary-color: #4a148c;
  --secondary-color: #6a1b9a;
  --tertiary-color: #9c27b0;
  --border-color: #ffffff;
  --toggle-bg: #6a1b9a;
  --toggle-active: #ba68c8;
  --toggle-play: #8e24aa;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  ); */

  /* Angry */
  /* --primary-color: #b71c1c;
  --secondary-color: #d32f2f;
  --tertiary-color: #ff5252;
  --border-color: #ffffff;
  --toggle-bg: #d32f2f;
  --toggle-active: #f44336;
  --toggle-play: #ff1744;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  ); */

  /* Surprised */
  /* --primary-color: #ff9800;
  --secondary-color: #ffb74d;
  --tertiary-color: #ffcc80;
  --border-color: #ffffff;
  --toggle-bg: #ffb74d;
  --toggle-active: #ff9800;
  --toggle-play: #ffca28;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  ); */

  /* Disgust */
  /* --primary-color: #1b5e20;
  --secondary-color: #388e3c;
  --tertiary-color: #66bb6a;
  --border-color: #ffffff;
  --toggle-bg: #388e3c;
  --toggle-active: #4caf50;
  --toggle-play: #81c784;
  --text-color: white;
  --shadow-color: rgba(255, 255, 255, 0.2);
  --background-gradient: linear-gradient(
    135deg,
    var(--tertiary-color),
    var(--secondary-color)
  ); */
}

html, body {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

.popup-container {
  width: 100%;
  height: 100%;
  --s: 60px;
  --c1: var(--primary-color);
  --c2: var(--tertiary-color);
  --_g: radial-gradient(
    25% 25% at 25% 25%,
    var(--c1) 99%,
    rgba(0, 0, 0, 0) 101%
  );
  background: var(--_g) var(--s) var(--s) / calc(2 * var(--s))
      calc(2 * var(--s)),
    var(--_g) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, var(--c2) 98%, rgba(0, 0, 0, 0)) 0 0 / var(--s)
      var(--s),
    repeating-conic-gradient(var(--c2) 0 50%, var(--c1) 0 100%)
      calc(0.5 * var(--s)) 0 / calc(2 * var(--s)) var(--s);
}

.popup-container {
  width: 250px;
  height: 300px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  border-radius: 00px;
  padding: 10px;
  box-shadow: 0 4px 15px var(--shadow-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(8px);
}

.icon {
  width: 20px; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  z-index: 1000;
}

.content {
  margin-top: 00px;
}

.emotion-box {
  border: 2px solid var(--border-color);
  background: var(--background-gradient);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emotion-text {
  margin-left: 0px;
  display: flex;
  flex-direction: column; /* Stack text vertically */
}

.label {
  /* font-weight: bold; */
  position: relative;
  left: 5px;
  font-size: 15px;
}

.toggle-cont {
  width: 65px;
  height: 35px;
  border-radius: 9999px;
  margin-left: 0px; /* Adjust this value as needed */
  position: relative;
  left: -15px; /* Moves the toggle switch left */
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 2px;
  width: 100%;
  height: 100%;
  background: var(--toggle-bg);
  border-radius: 9999px;
  box-sizing: content-box;
  box-shadow: 0px 0px 12px -6px #fefefe;
}

.toggle-cont .toggle-label .cont-label-play {
  position: relative;
  width: 35px;
  aspect-ratio: 1 / 1;
  background: var(--toggle-play);
  border-radius: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
  background: var(--toggle-active);
  transform: translateX(30px);
}

.toggle-cont .toggle-label .label-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50%;
  aspect-ratio: 1 / 1;
  background: #fefefe;
  border-radius: 4px;
  clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .label-play {
  width: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* .play {
  width: 10px;
  height: auto;
}

.stop {
    width: 10px;
    height: auto;
  } */

.time-spent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch - the box around the speaker*/
.toggleSwitch {
  left: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  overflow: hidden;
}

/* Hide default HTML checkbox */
#checkboxInput {
  display: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.speaker {
  width: 100%;
  height: 100%;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition-duration: 0.3s;
  background-color: var(--primary-color);
}

.speaker svg {
  width: 10px;
}

.mute-speaker {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3;
  transition-duration: 0.3s;
}

.mute-speaker svg {
  width: 10px;
}

#checkboxInput:checked + .toggleSwitch .speaker {
  opacity: 0;
  transition-duration: 0.3s;
}

#checkboxInput:checked + .toggleSwitch .mute-speaker {
  opacity: 1;
  transition-duration: 0.3s;
}

#checkboxInput:active + .toggleSwitch {
  transform: scale(0.7);
}

#checkboxInput:hover + .toggleSwitch {
  background-color: var(--toggle-active);
}
.graph {
  width: 100%;
  border: 2px solid var(--border-color);
  height: 180px;
  background: var(--background-gradient);
  border-radius: 10px;
  margin-top: 10px;
}

/* Trying effects */
.honeycomb{
  position: relative;
  top: 50px;
  left: 115px;
}

@-webkit-keyframes honeycomb {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes honeycomb {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.honeycomb {
  height: 24px;
  position: relative;
  width: 24px;
}

.honeycomb div {
  -webkit-animation: honeycomb 2.1s infinite backwards;
  animation: honeycomb 2.1s infinite backwards;
  background: #f3f3f3;
  height: 12px;
  margin-top: 6px;
  position: absolute;
  width: 24px;
}

.honeycomb div:after, .honeycomb div:before {
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.honeycomb div:after {
  top: -6px;
  border-bottom: 6px solid #f3f3f3;
}

.honeycomb div:before {
  bottom: -6px;
  border-top: 6px solid #f3f3f3;
}

.honeycomb div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: -28px;
  top: 0;
}

.honeycomb div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  left: -14px;
  top: 22px;
}

.honeycomb div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  left: 14px;
  top: 22px;
}

.honeycomb div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  left: 28px;
  top: 0;
}

.honeycomb div:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  left: 14px;
  top: -22px;
}

.honeycomb div:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: -14px;
  top: -22px;
}

.honeycomb div:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  left: 0;
  top: 0;
}